@use "../abstract" as *;

.badge--advantages {
  margin-left: 91px;

  @media (min-width: $tablet-width) {
    margin-left: 304px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 652px
  }
}

.advantages__title {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: $black;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 152%;
  }

}


.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    display: grid;
    margin-top: 60px;
    margin-left: 51px;

  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 156px;
    margin-bottom: 120px;
  }
}

.advantages__name {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  text-align: center;
  color: $black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 150%;
    text-align: left;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.advantages__description {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 150%;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.advantages__item {
  margin-top: 100px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.advantages__item--speed {
  position: relative;
}

.advantages__item--speed::before {
  content: "";
  position: absolute;
  background-image: url(../../img/speed.svg);
  width: 46px;
  height: 52px;
  bottom: 91px;
  left: 121px;

  @media (min-width: $tablet-width) {
    left: -23px;
    bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    left: 144px;
    bottom: 153px;
  }
}

.advantages__item--comfortable::before {
  content: "";
  position: absolute;
  background-image: url(../../img/comfortable.svg);
  width: 48px;
  height: 52px;
  bottom: 91px;
  left: 121px;

  @media (min-width: $tablet-width) {
    left: -23px;
    bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    left: 144px;
    bottom: 135px;
  }
}

.advantages__item--energy::before {
  content: "";
  position: absolute;
  background-image: url(../../img/energy.svg);
  width: 38px;
  height: 52px;
  bottom: 91px;
  left: 121px;

  @media (min-width:$tablet-width) {
    bottom: 91px;
    left: -23px;
  }

  @media (min-width: $desktop-width) {
    left: 144px;
    bottom: 153px;
  }
}

.advantages__item--eco::before {
  content: "";
  position: absolute;
  background-image: url(../../img/eco.svg);
  width: 42px;
  height: 52px;
  bottom: 91px;
  left: 121px;

  @media (min-width: $tablet-width) {
    bottom: 91px;
    left: -23px;
  }

  @media (min-width: $desktop-width) {
    left: 144px;
    bottom: 153px;
  }

}
