@use "../sass/abstract" as *;

.catalog {
  background-color: $back-grey;
  margin-top: 60px;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    padding-top: 267px;
    position: relative;
  }
}

.badge--catalog {
  padding-top: 50px;

  @media (min-width: $tablet-width) {
    margin-left: 333px;
  }

  @media (min-width: $desktop-width) {
    margin-left:666px;
    position: absolute;
    top: 15px;
  }
}

.catalog__title {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  margin: 0;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 152%;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 154px;
    left: 424px;
  }
}

.catalog__select {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-right: 30px;
  }

  @media (min-width:$desktop-width) {
    grid-area: 1/2;
  }
}

.catalog__sorting {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: $black;
  margin-left: 20px;
}

.catalog__menu {
  border: none;
  background-color: transparent;
  font-family: $montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: right;
  color: $purple;
  margin-left: 18px;
  outline: none;
}

.catalog-wrapper {
  margin-top: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-area: 2/2;
    display: flex;
    flex-wrap: wrap;
  }

}

// product-cards

.product-card {
  background-color: $white;
  border-radius: 4px;
  margin-top: 20px;
}

.product-card__link {
  text-decoration: none;
}

.product-card__img {
  margin-left: 75px;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-left: 109px;
  }
}

.product-card__title {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: $black;
  margin: 0;
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 150%;

  }
}

.product-card__description {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $black;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 20px;
  width: 210px;

  @media (min-width: $tablet-width) {
    width: 248px;
    margin-top: 10px;
  }
}

.product-card__price {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: $black;
  margin-top: 18px;
}

.product-card__button {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $white;
  padding: 6px 20px;
  margin-left: 46px;
  position: relative;
  text-align: right;
  width: 141px;

  @media (min-width: $tablet-width) {
    margin-left: 110px;
  }
}

.product-card__button::before {
  content: "";
  background-image: url("../../img/order-button-catalog.svg");
  width: 20px;
  height: 16px;
  display: block;
  position: absolute;
}

.product-card-container {
  padding: 0 20px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 0 30;
    padding-bottom: 22px;
  }
}
