@use "../abstract" as *;

// form-price

.form-price__title {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: $black;
  margin: 0;
  margin-top: 20px;
}

// form-price range-bar

.form-price__range {
  margin-top: 20px;
}

.form-price__scale {
  position: relative;
  height: 2px;
  background-color: $grey-light;
  width: 280px;
}

.form-price__range-bar {
  position: absolute;
  height: 5px;
  opacity: 1;
  background-color: $purple-light;
  width: 240px;
  ;
}

.form-price__range-toggle {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: $white;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid $purple-light;
}

.form-price__range-toggle--max {
  left: 223px;
  top: -10px;
}

.form-price__range-toggle--min {
  top: -10px;
}

// form-price value-window

.form-price__value {
  margin-top: 35px;
  display: flex;
  box-sizing: border-box;
}

.form-price__label {
  position: relative;

}

.form-price__label--from {
  margin-right: 44px;
}

.form-price__label--from::after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 2px;
  left: 136px;
  top: 19px;

  background-color: $grey;
}

.form-price__input {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $black;
  padding: 7px 10px;
  width: 93px;
  height: 19px;
  border: 2px solid $purple-light;
  border-radius: 4px;

}

.form-price__input--from {
  margin-right: 44px;
}



// form-stock

//form-country
