@use "../abstract" as *;

.header {
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__main-logo {
  width: 32px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 82px;
    height: 36px;
  }
}

.header__toggle-menu {
  position: relative;
  cursor: pointer;
  top: 1px;
  right: 0;
  left: 2px;
  height: 24px;
  padding-top: 3px;
  padding-left: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__toggle-menu--close::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 10px;
  width: 16px;
  height: 1px;
  background-color: #333;
  box-shadow: 0 8px 0 0#333, 0 4px 0 0#333;
}

.header__toggle-menu--open {
  position: relative;
  top: 9px;
  right: -2px;
  height: 24px;
  padding-top: 3px;
  padding-left: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 10px;
    width: 15px;
    height: 1px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header__toggle-login {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}


.header__toggle-order {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
