@use "../abstract" as *;

.navigation {

  @media (min-width: $tablet-width) {
    grid-area: 1/2;
  }
}

.navigation__container {
  min-width: 100%;
  position: absolute;
  min-height: 132px;

  @media (min-width: $tablet-width) {
    min-height: auto;
    min-width: auto;
    padding: 34px 0;
  }

}

.navigation__container--open {
  position: absolute;
  display: none;
  z-index: 2;

  @media (min-width: $tablet-width) {
    display: block;
    position: unset;
  }
}

.navigation__container--close {
  z-index: 10;
  position: absolute;
  margin-left: -301px;
  margin-top: 30px;
}

.navigation__container--nojs {
  min-width: 100%;
  display: block;
  margin-left: -300px;
  margin-top: 30px;
}

.navigation__container--nojs .navigation__item {
  display: block;
}

.navigation__list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  text-align: center;
  background-color: $white;
  z-index: 10;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }
}

.navigation__item {
  border-top: 1px solid $lavend;
  padding-top: 21px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }

}

.navigation__link {
  text-transform: uppercase;
  position: relative;
  font-family: $montserrat;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;

}

.navigation__link--current {
  color: $purple;
  position: relative;
}

.navigation__link--current::after {

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    display: block;
    width: 103px;
    height: 2px;
    background-color: $purple;
    top: 49px;
    right: -25px;
  }
}
