@use "../sass/abstract" as *;

.pagination-wrapper {
  @media (min-width: $desktop-width) {
    grid-area: 3/2;
  }
}

.pagination {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    margin-right: 20px;
  }
}

.pagination__item {
  margin-right: 20px;
}

.pagination__item--last {
  margin: 0;
}

.pagination__link {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 32px;
  font-family: $montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $purple;
  background-color: $white;
  margin-top: 40px;
  padding-top: 8px;
  margin-bottom: 40px;
  border-radius: 4px;
  outline: none;
}

.pagination__link:hover {
  background-color: $purple-light;
  color: $white;
}

.pagination__link:focus {
  background-color: $purple-light;
  color: $white;
}

.pagination__link:active {
  background-color: $purple-dark;
  color: $white;
}

.pagination__link:disabled {
  background-color: $grey;
}

.pagination__link--current {
  background-color: transparent;
  font-family: $montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: $black;
}

.pagination__link--arrow-left::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 12px;
  top: 15px;
  left: 14px;
  background-image: url("../../img/arrow-pagination-left.svg");
  background-repeat: no-repeat;
}

.pagination__link--arrow-left {
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.pagination__link--arrow-right {
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.pagination__link--arrow-right::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 12px;
  top: 15px;
  left: 14px;
  background-image: url("../../img/arrow-pagination-right.svg");
  background-repeat: no-repeat;
}

.pagination__tablet--hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.pagination__tablet {

  display: none;

  @media (min-width: $tablet-width) {
    text-decoration: none;
    display: block;
    width: 51px;
    height: 24px;
    font-family: $montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: $purple;
    background-color: $white;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
  }
}

.pagination__tablet:hover {
  background-color: $purple-light;
  color: $white;
}

.pagination__tablet:focus {
  background-color: $purple-light;
  color: $white;
}

.pagination__tablet:active {
  background-color: $purple-dark;
  color: $white;
}

.pagination__tablet:disabled {
  background-color: $grey;
}
