@use "../abstract" as *;

.swiper-pagination--disabled {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.swiper-button-next::after {
  color: $purple;
  width: 11px;
  margin-top: 0;
  font-size: 25px !important; // Чтобы Изменить размер кнопки в swiper

  @media (min-width: $tablet-width) {
    top: 400px !important; // Аналогично, обращаюсь к important чтобы изменить параметр swiper
  }

  @media (min-width: $desktop-width) {
    top: 369px !important; // Аналогично, обращаюсь к important чтобы изменить параметр swiper
  }
}

.swiper-button-prev::after {
  color: $purple;
  margin-top: 0;
  font-size: 25px !important; // Чтобы Изменить размер кнопки в swiper
}

.swiper-button-prev {
  @media (min-width: $tablet-width) {
    top: 400px !important; // Аналогично, обращаюсь к important чтобы изменить параметр swiper
  }

  @media (min-width: $desktop-width) {
    top: 369px !important; // Аналогично, обращаюсь к important чтобы изменить параметр swiper
  }
}

.swiper-button-next {
  margin: 0;

  @media (min-width: $tablet-width) {
    top: 400px !important; // Аналогично, обращаюсь к important чтобы изменить параметр swiper
  }

  @media (min-width: $desktop-width) {
    top: 369px !important; // Аналогично, обращаюсь к important чтобы изменить параметр swiper
  }
}


.swiper-wrapper {
  padding: 0 20px;
  margin: 0 auto;
}

.swiper {
  width: 320px;

  @media (min-width: $tablet-width) {
    grid-area: 2/2;
    position: unset !important; // Аналогично, обращаюсь к important чтобы изменить параметр swiper
    width: 768px;
  }
}

.swiper-slide__img {
  @media (min-width: $tablet-width) {
    margin-left: 120px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 53px;
    margin-bottom: 84px;
  }
}

.swiper-pagination {
  @media (min-width: $desktop-width) {
    bottom: -87px !important; // Аналогично, обращаюсь к important чтобы изменить параметр swiper
  }
}

.swiper-pagination-bullet {
  @media (min-width: $desktop-width) {
    width: 62px !important; // Аналогично, обращаюсь к important чтобы изменить параметр swiper
    height: 4px !important; // Аналогично, обращаюсь к important чтобы изменить параметр swiper
    background-color: $white !important; // Аналогично, обращаюсь к important чтобы изменить параметр swiper
    border-radius: 0 !important; // Аналогично, обращаюсь к important чтобы изменить параметр swiper
    opacity: unset !important; // Аналогично, обращаюсь к important чтобы изменить параметр swiper
  }
}

.swiper-pagination-bullet-active {
  @media (min-width: $desktop-width) {
    background-color: $purple !important; // Аналогично, обращаюсь к important чтобы изменить параметр swiper
  }
}
