@use "../sass/abstract" as *;

.social-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid $base;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    border: none;
  }
}

.social__list {
  display: flex;
  list-style-type: none;
}

.social__item {
  margin-right: 40px;
}

.social__item--last {
  margin: 0;
}

.social__logo {
  @media (min-width: $tablet-width) {
    width: 170px;
    height: 36px;
  }
}
