@use "../sass/abstract" as *;

body {
  box-sizing: border-box;
  font-family: $montserrat;
  font-style: normal;
  font-size: 14px;
  line-height: 149%;
  color: $black;
  background-color: $white;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.global-container {
  margin: 0 auto;
  padding: 0 20px;


  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1280px;
  }
}

.badge {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  text-transform: uppercase;
  color: $purple;
  letter-spacing: 0.04em;
  text-align: center;
  margin-left: 113px;
}

.form-container {
  padding: 50px 20px;
}

.html-academy {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: $grey;
  position: relative;
  margin: 0;
  margin-left: 73px;
  margin-bottom: 30px;

}

.html-academy::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../img/htmlacademy-logo.svg");
  width: 12px;
  height: 16px;
  top: 0px;
  left: 175px;
}
