
// viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width: 320px;


// font
$montserrat: "Montserrat", "Arial", sans-serif;

//colors

// basic
$black: #333333;
$grey: #BDBDBD;
$grey-light: #E2E2E2;
$white: #FFFFFF;


//purple
$purple: #7859CF;
$purple-light:#9070EC;
$purple-dark: #593CAC;

//background
$cream: #F3EBE1;
$back-grey: #F8F8F8;
$lavend: #EAE6FC;
$espresso: #E5E6E8;
