
// viewports
$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width: 320px;


// font
$montserrat: "Montserrat", "Arial", sans-serif;

//colors

// basic
$black: #333333;
$grey: #bdbdbd;
$grey-light: #e2e2e2;
$white: #ffffff;


//purple
$purple: #7859cf;
$purple-light:#9070ec;
$purple-dark: #593cac;

//background
$cream: #f3ebe1;
$back-grey: #f8f8f8;
$lavend: #eae6fc;
$espresso: #e5e6e8;
